Desktop.ini
.DS_Store
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
!.bridge/config.json
builds
!BP/scripts
BP/scripts/*
!BP/scripts/README.txt
*.stfolder
*/texts/*
!*/texts/AUTO_GENERATED
RP/manifest.json
BP/manifest.json
node_modules
.vscode/launch.json
