Desktop.ini
.DS_Store
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
!.bridge/config.json
builds
build
!BP/scripts
BP/scripts/*
!BP/scripts/README.txt
*.stfolder
*/texts/*
!*/texts/AUTO_GENERATED
RP/manifest.json
BP/manifest.json
node_modules
.venv
!.vscode/tasks.json
!.vscode/launch.json
.vscode
app/.import
__pycache__
bin